.Total {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 900px;
    margin-bottom: 50px;
}

.divs {
    padding: 20px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
}

.light .divs {
    background: #C7AC9F;
    color: #0f172a;
}

.dark .divs {
    background: #030925;
    color: white;
}

.divs:hover {
    transform: scale(1.2);
}