.Total {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    margin-bottom: 50px;
}

.divs {
    padding: 20px;
    border-radius: 20px;
    font-weight: 700;
    text-align: center;
}

.light .divs {
    background: #C7AC9F;
    color: #0f172a;
}

.dark .divs {
    background: #030925;
    color: white;
}

.divs:hover {
    transform: scale(1.2);
}

@media (max-width: 750px) {
    h1 {
        margin-left: 10%;
    }

    .Total {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;
        margin-left: 50%;
        justify-items: center;

    }


}