.light .overDue {
    background-color: bisque;
}

.dark .overDue {
    background: grey;
}

.dark .in-progress {
    color: #FACC15;


}

.dark .completed {
    color: #4ADE80;
}

.dark .notStarted {
    color: #F87171;
}



.light .in-progress {
    color: #c98f38;


}

.light .completed {
    color: #4C9A6A;
}

.light .notStarted {
    color: #C44536;
}

.light .low {
    color: #5A84AC;
}

.light .medium {
    color: #FC9C44;
}

.light .high {
    color: #742F14;
}

.dark .low {
    color: lightblue;
}

.dark .medium {
    color: #FC9C44;
}

.dark .high {
    color: #fc1414;
    font-weight: 500;
}