.formLogin {
    display: flex;
    flex-direction: column;
    background: #FC9C44;
    width: 10%;
    margin-top: 10%;
    padding: 20px;
    justify-content: start;
    align-items: start;
    border-radius: 20px;
}

.light .formLogin {
    background: #FC9C44;
}

.dark .formLogin {
    background: #7D7D7D;
}

.InputLogin {
    width: 100%;
}

.SignInArea {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

@media (max-width: 750px) {
    .formLogin {
        width: 30%;
    }

    .SignInArea {
        margin-left: 10%;
    }
}