#NavBar {
    display: flex;
    flex-direction: column;
    background: black;
    width: 100%;
    height: 8%;
}

#ContolButton {
    display: flex;
    justify-content: end;
    margin-top: 1.5%;


}

#Logout {
    margin-right: 2%;
}

#Switcher {
    margin-right: 2%;
}

.light #NavBar {
    background: #F5EFE7;
    color: #0f172a;
    border: solid #E7DED4;
    color: #3A2F28;
}

.dark #NavBar {
    background: #0E141B;
    border: solid #1E2A36;
    color: #E5E7EB;
}



#NavTitle {
    margin-left: 50%;
}