.PDash {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 2%;

}

#ProjectChart {
    width: 20%;
    min-width: 300px;
    height: 200px;
    padding: 1%;
}

.TaskChart {
    width: 20%;
    min-width: 300px;
    height: 250px;
    padding: 3%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#Chart {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.light #ProjectChart {
    background: #5C3C2C;
    color: #1c1917;
}

.dark #ProjectChart {
    background: #020617;
    color: #e5e7eb;
}

#ProjectArea {
    margin-top: 1%;
}


.light .TaskChart {
    background: #5C3C2C;
    color: #1c1917;
}

.dark .TaskChart {
    background: #020617;
    color: #e5e7eb;
}