#Main {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



#root {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    background: transparent !important;
}